html {
  // min-width: 850px;
  height: fit-content !important;
}

main {
  margin-top: 30px;
}

form {
  margin-top: 15px;
}

#input-box {
  display: flex;
  align-items: end;
}

#settings-accordion {
  // margin-top: 15px;
  // margin-bottom: 15px;
}

.option-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  label {
    font-size: 0.9em;
  }
}

.submit-button {
  // width: 100%;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-box {
  margin: 15px 0;
  margin-bottom: 0;

  .password-container {
    padding: 5px;
    border-radius: 10px;

    .password-content {
      padding: 10px 20px;
      border: 1px solid #333;
      border-radius: 10px;
      font-size: 1em;
      cursor: pointer;
      color: white;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: #333;
      }

      &.copied {
        background-color: #1f8a70;
        border-color: #1f8a70;
        color: white;
      }

      &.poor {
        border: 3px solid #7a0000;
        border-radius: 5px;
      }

      &.weak {
        border: 3px solid #ff4242;
        border-radius: 5px;
      }

      &.ok {
        border: 3px solid #fac748;
        border-radius: 5px;
      }

      &.good {
        border: 3px solid #70c1b3;
        border-radius: 5px;
      }

      &.strong {
        border: 3px solid #6bf178;
        border-radius: 5px;
      }
    }

    .password-strength {
      display: flex;
      justify-content: end;
      font-size: 0.7em;
    }
  }
}
